repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files # prevents adding large files
      - id: detect-private-key # detects private keys
      - id: fix-byte-order-marker # fixes BOM